body{
    margin: 0;
}

.wrapper{
    min-height: 100vh !important;
}

form{
    padding:10px;
}

.sidebar{
    height: 100%;
}

.invalid-select{
    border: rgb(220, 53, 69) solid 1px; 
    border-radius: 4px;
}

.valid-select{
    border: rgb(40, 167, 69) solid 1px; 
    border-radius: 4px;
}

table td{
    cursor: pointer;
}

.no-padding-form{
    padding: 0;
}