
body{
    margin: 0;
}

form{
    padding:10px;
}

.container{
    min-height: 100vh;
    height: 100%;
}

.sidebar{
    height: 100%;
}

.invalid-select{
    border: rgb(220, 53, 69) solid 1px; 
    border-radius: 4px;
}

.valid-select{
    border: rgb(40, 167, 69) solid 1px; 
    border-radius: 4px;
}
