body {
    margin: 0;
}

.wrapper {
    min-height: 100vh !important;
}

form {
    padding: 10px;
}

.sidebar {
    height: 100%;
}

.invalid-select {
    border: rgb(220, 53, 69) solid 1px;
    border-radius: 4px;
}

.valid-select {
    border: rgb(40, 167, 69) solid 1px;
    border-radius: 4px;
}

table td {
    cursor: pointer;
}

.no-padding-form {
    padding: 0;
}

.table-action-icon {
    font-size: 1.2rem;
}

a {
    cursor: pointer;
}

.iconButton {
    border: none;
    background-color: transparent;
}

.img-actions-image {
    min-height: 180px;
}

.img-actions-image img {
    width: 100%;
    max-height: 180px;
}

.img-actions-overlay {
    padding: 3px;
}

.img-actions hr {
    margin: 5px;
}

.img-actions-overlay i {
    font-size: 1.25em;
    color: rgba(0, 0, 0, .8);
}

.img-actions-overlay a + a i{
    margin-left: 10px;
}

.spinner {
    width: 100px;
    content: url('/img/spinner.gif');
}
